{% extends 'base.html.twig' %}

{% block title %}Armel Bouvier || Web developper
{% endblock %}

{% block body %}
	<header class="homepage-header">
        <div class="container pt-5">
            <div class="col-12">
                <h1 class="display-1 font-weight-bolder gradient-text">Armel Bouvier</h1>
                <h2 class="display-3 text-light">Développeur PHP</h2>
            </div>
        </div>
	</header>

        <div class="btn-custom">
            <div class="grx" title="Me connaître"><i class="fas fa-address-card"></i></div>   
        </div>
        <div class="btn-custom b">
            <div class="grx" title="Me contacter"><i class="far fa-envelope"></i></div>   
        </div>

{% endblock %}
