{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1 class="display-1 font-weight-bolder">Armel Bouvier</h1>
    </div>
    <div class="row">
        <h2 class="display-2">Développeur PHP</h2>
    </div>
    <div class="row">
    <a href="#" class="btn btn-dark">Me connaître</a>
    <a href="#" class="btn btn-outline-dark">Me contacter</a>
    </div>
</div>
{% endblock %}