{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-6">
			<p>De par ma formation et mes expériences professionnelles, j'ai appris à gérer avec rigueur des projets menés aussi bien en équipe qu'en autonomie.
J'ai souvent eu à endosser un rôle d'interface entre des champs disciplinaires variés, ce qui est devenu une passion autant qu'une source de motivation.
Cela m'a incité à faire preuve de réactivité pour comprendre et traduire le mieux possible les impératifs de mes interlocuteurs comme de mes collègues. </p>
		</div>
	</div>
{% endblock %}
