{% extends 'admin/base_admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
 <div class="container-fluid">
    <div class="row">
        <div class="col-3 bg-warning">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet molestiae ea ipsum alias odit quas dolore unde, consequuntur minima quis ut quaerat veritatis tenetur aliquid deleniti repudiandae perspiciatis adipisci.
            </p>
        </div>
        <div class="col-9">
        </div>
    </div>
 </div>
{% endblock %}
