{% extends 'admin/base_admin.html.twig' %}

{% block title %}{{parent()}} | Expériences{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter une nouvelle expérience professionnelle</h1>

        {{ include('admin/experience/_form.html.twig') }}

        <a href="{{ path('experience_browse') }}">Retour à la liste des expériences</a>
    </div>
    
{% endblock %}