{% extends 'admin/base_admin.html.twig' %}

{% block title %}
	{{parent()}}
	| Projets
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Modifier le projet</h1>

		{{ include('admin/experience/_form.html.twig') }}

		<a href="{{ path('experience_browse') }}">Retour à la liste des projets</a>
	</div>

{% endblock %}
