{% extends 'base.html.twig' %}

{% block title %}New Academic{% endblock %}

{% block body %}
    <h1>Create new Academic</h1>

    {{ include('academic/_form.html.twig') }}

    <a href="{{ path('academic_index') }}">back to list</a>
{% endblock %}
